/* Root */
:root {
  --body: rgb(80, 47, 26);
  --header-footer: rgb(245, 102, 0);
  --border: rgba(153, 153, 153, 0.788);
}

/* Fonts */
.limelight {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.new-amsterdam {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Style */
body {
  background-color: var(--body);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--header-footer);
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  text-align: center;
}

footer p {
  color: black;
}

h1 {
  padding: 0 2.25rem;
}

#hamButton {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;

  padding: .5rem;

  display: block;
  position: absolute;
  top: .5rem;
  left: 0rem;
}

.open {
  top: 1.25rem;
}

#hamButton:hover {
  color: var(--selection1);
}

#hamButton::before {
  content: "☰";
}

#hamButton.open::before {
  content: "X";
}

nav {
  background: var(--body);
  display: none;
}

nav.open {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  border-top-right-radius: .75rem;
  border-bottom-right-radius: .75rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav.open li {
  border-bottom-right-radius: .75rem;
}

nav li {
  list-style-type: none;
  border-bottom: 1px solid var(--border);
  height: 100%;
  padding: .5rem;
}

nav li:last-of-type {
  border: none;
}

.nav-links {
  padding: 0 16rem 0 0;
}

a {
  text-decoration: none;
  color: white;
}

#search-nav {
  font-size: xx-large;
}

.nav-svg {
  width: 50px;
  position: absolute;
  top: 2.25rem;
  right: 0rem;
}

main {
  padding: 1rem;
}

button {
  background-color: rgb(245, 102, 0);
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

#homePage {
  text-align: center;
}

.homeHeading {
  background: #00000093;
  font-size: x-large;
  margin: 1rem;
  padding: .5rem;
}

.homeHeading h2 {
  margin: 0;
}

#subscriptionForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#subscriptionForm input {
  height: 22px;
  width: 22px;
}

#subscriptionForm label {
  font-size: large;
}

label[for="maxRating"] {
  align-self: end;
}

select[name="maxRating"] {
  grid-area: 8 / 1 / 9 / 2;
  max-width: 50%;
}

#searchForm {
  display: grid;
  grid-template-columns: 1fr;
}

#searchForm label {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}

#searchForm input,
#searchForm select,
#decadeSelect {
  height: 44px;
  width: 117px;
  min-width: max-content;
  border: none;
  border-radius: .25rem;
  margin-top: .2rem;
}

.loader {
  border: 8px solid #ccc;
  border-top: 8px solid rgb(245, 102, 0);
  /* Your orange */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
  display: block;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 575px;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 0px 27px 8px #98BAA8;
}

.movie h3 {
  font-size: x-large;
  margin: .5rem .5rem 0 .5rem;
  height: 3.5rem;
}

.rating {
  border: 2px solid white;
  margin: 0 auto;
  padding: .25rem;
}

.year {
  margin: 0;
}

.vote {
  margin: .75rem;
}

.movie img {
  max-width: 225px;
  align-self: center;
}

.checkAvailabilityBtn {
  max-width: 300px;
  min-width: 175px;
  align-self: center;
  margin: .5rem auto;
}

.platforms {
  font-size: larger;
  margin: .5rem;
}

.platforms a {
  background: rgba(128, 128, 128, 0.507);
  font-size: smaller;
  padding: .25rem;
  border-radius: .2rem;
}

hr {
  margin: 1rem;
  background: black;
  border: none;
  height: 2px;
}

#random {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#random-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#random-movie img {
  max-width: 275px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* Medium */
@media screen and (min-width: 48rem) {

  header,
  footer {
    padding: 1rem;
  }

  #hamButton {
    display: none;
  }

  .nav-svg {
    top: 2.25rem;
    right: 1rem;
  }

  nav,
  nav.open {
    display: block;
    border-radius: 0;
    border-top-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    width: 100%;
  }

  nav.open {
    text-align: center;
  }

  nav ul {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    padding: 0;
    align-items: center;
  }

  nav li {
    line-height: 59px;
    padding: 0;
    border: none;
    border-right: 1px solid var(--border);
  }

  .nav-links {
    padding: 0;
  }

  .search h2 {
    margin-bottom: 0;
  }

  #searchForm {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  #searchForm label {
    display: block;
  }

  #searchForm input,
  #searchForm select {
    height: 44px;
    max-width: max-content;
  }

  #random-movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    align-items: center;
    align-self: center;
  }

  #random-movie img {
    grid-area: 2 / 1 / 7 / 2;
  }
  
  #random-movie h2 {
    grid-column: 1/3;
  }
}

/* Large */
@media screen and (min-width: 80rem) {

  
}