<button id="hamButton" aria-label="Menu Button"></button>
<h1 class="limelight">Movie Picker 🎬</h1>
<a href="../settings-page/index.html"><img class="nav-svg" src="../images/gear_icon.svg" alt="settings"></a>
<nav id="navigation">
  <ul>
    <li> <a class="nav-links" href="/" title="Take me home">Home</a></li>
    <li> <a class="nav-links" href="../random/index.html" title="Random movie generator">Pick For Me</a></li>
    <li> <a class="nav-links" href="../search/index.html" id="search-nav" title="Search"><img src="../images/search_icon.svg" alt="search icon"></a></li>
    <li> <a class="nav-links" href="../" title="What are you in the mood for?">Something Along These Lines...</a></li>
    <li> <a class="nav-links" href="../" title="What others like">Popular Picks</a></li>
  </ul>
</nav>